@using SystemSetup.Models;
@using SystemSetup.Constants;
@using SystemSetup.Constants.Security;
@using SystemSetup.Constants.Resources;
@*CSS*@
@Styles.Render("~/Content/themes/iseiQ/maint.css")
@model SetUpUserMaintListModel

@{
    ViewBag.Title = Maint.SetUpUserList;
    Layout = "~/Views/Shared/_Layout.csHtml";
}

<div id="maintInputDateList" class="UserMaintList">
    <div id="topContent">
        <div id="title">@Maint.SetUpUserList</div>

        <div id="searchArea">
            <div class="form-group">
                @Html.Label(@Maint.SetUpUser_Account, new { @class = "title-row min-width-150" })
                @Html.TextBoxFor(m => m.SETUP_USER_ACCOUNT, new { @class = "width-350", style = "ime-mode: auto; ", maxlength = 20 })

            </div>
            <div class="form-group">
                @Html.Label(@Maint.SetUpUser_Name, new { @class = "title-row min-width-150" })
                @Html.TextBoxFor(m => m.SETUP_USER_NAME, new { @class = "width-350", style = "ime-mode: auto;", maxlength = 20 })

            </div>
        </div>
        <hr />
        <div id="searchAction">
            <button type="button" id="btnClearConditions" class="btn btn-default">
                <i class="btn-icon btn-clear">@Maint.btnClearConditions</i>
            </button>
            <button type="button" id="btnSearch" class="btn btn-green">
                <i class="btn-icon btn-search-white">@Maint.btnSearch</i>
            </button>
        </div>
    </div>

    @RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

    <div id="registButton">
        <button type="button" id="btnCreateNew" name="btnCreateNew" class="btn btn-orange"><i class="btn-icon btn-regist">@Maint.btnCreateNew</i></button>
    </div>

    <div id="mainContent">
        <table id="InfoTable" class="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th class="width-200">@Maint.lblNo</th>
                    <th class="width-200">@Maint.User_Account</th>
                    <th class="width-200">@Maint.User_Name</th>
                    <th class="width-200">@Maint.PASSWORD_CHANGE_DATE</th>
                    <th>@Maint.Limit</th>
                    <th>@Maint.Invalid</th>
                    <th>@Maint.EDIT</th>
                    <th>@Maint.DELETE</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    @using (Html.BeginForm("SetUpUserMaintEdit", "SetUpUserMaint", FormMethod.Post, new
    {
        area = "Maint",
        id = "SetUpUserMaintRegist",
        enctype = "multipart/form-data"
    }))
    {
        <input type="hidden" id="txtRowIndex" name="txtRowIndex" value="0">

        @Html.HiddenFor(m => m.SEARCH_PARAM.SETUP_USER_SEQ_CD)
        @Html.HiddenFor(m => m.SEARCH_PARAM.SETUP_USER_ACCOUNT)
        @Html.HiddenFor(m => m.SEARCH_PARAM.SETUP_USER_NAME)
        <input type="hidden" id="DISPLAY_START" name="DISPLAY_START" value="">
        <input type="hidden" id="DISPLAY_LENGTH" name="DISPLAY_LENGTH" value="">
    }

</div>

<script type="text/javascript">
    ////////////////////////////////////////////////////////////////////////////////////
    ////Variables Declaration
    ////////////////////////////////////////////////////////////////////////////////////
    var dataTable;
    var setUpUserMaintSearchUrl = '@Url.Action("SetUpUserMaintSearch", "SetUpUserMaint", new { area = "Maint" })';
    var setUpUserMaintRegisterUrl = '@Url.Action("SetUpUserMaintEdit", "SetUpUserMaint", new { area = "Maint" })';
    var checkTimeOutUrl = '@Url.Action("CheckTimeOut", "Common", new {area = "Common"})';
    editlink = "編集";
    var deletelink = "削除";
    var SETUP_USER_SEQ_CD = 0;
    var ORDER = 1;
    var SETUP_USER_ACCOUNT = 2;
    var SETUP_USER_NAME = 3;
    var PASSWORD_LAST_UPDATE_DATE = 4;
    var LOGIN_LOCK_FLG = 5;
    var DISABLE_FLG = 6;
    var EDIT = 7;
    var DELETE = 8;

    var doServerSide = false;

    var dataTable = null;
    var dataList = null;
    ////////////////////////////////////////////////////////////////////////////////////
    ////Initialization functions
    ////////////////////////////////////////////////////////////////////////////////////
    $(function () {

        iseiQ.utility.imeControl($("#SETUP_USER_SEQ_CD"), 'active');
        iseiQ.utility.imeControl($("#SETUP_USER_ACCOUNT"), 'active');
        iseiQ.utility.imeControl($("#SETUP_USER_NAME"), 'active');


        var oSorting = {
            "bSort": false
        };

        var oPaginate = {
            "bPaginate": true,
            "iDisplayStart": parseInt(@Model.DISPLAY_START),
            "iDisplayLength": parseInt(@Model.DISPLAY_LENGTH),
            "bStateSave": false
        };

        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": setUpUserMaintSearchUrl,
            "fnServerParams": serverParams,
            "fnInitComplete": bindData,
            "fnDrawCallback": drawCallback,
            "fnBeforeSend": fnBeforeSend
        };

        var aoColumnDefs = [
            { "bVisible": false, "bSortable": false, "aTargets": [SETUP_USER_SEQ_CD] },
            { "bSortable": false, "aTargets": [ORDER], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [SETUP_USER_ACCOUNT], "sWidth": "20%", "sClass": "cell_left" },
            { "bSortable": false, "aTargets": [SETUP_USER_NAME], "sWidth": "40%", "sClass": "cell_left" },
            { "bSortable": false, "aTargets": [PASSWORD_LAST_UPDATE_DATE], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [LOGIN_LOCK_FLG], "sWidth": "5%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [DISABLE_FLG], "sWidth": "5%", "sClass": "cell_center" },
              { "bSortable": false, "aTargets": [EDIT], "sWidth": "5%", "sClass": "cell_center", "mRender": function (data, type, full) { return buildActionLink(full[SETUP_USER_SEQ_CD], editlink); } },
            { "bSortable": false, "aTargets": [DELETE], "sWidth": "5%", "sClass": "cell_center", "mRender": function (data, type, full) { return data == 0 ? '' : bindDeleteElement(full[SETUP_USER_SEQ_CD], 'delete-setUpUsermaint-link btn btn-red', deletelink); } }
        ];


        function serverParams(aoData) {
            //検索条件を保持

            doServerSide = true;
            $("#SETUP_USER_SEQ_CD").val($("#SEARCH_PARAM_SETUP_USER_SEQ_CD").val());
            $("#SETUP_USER_ACCOUNT").val($("#SEARCH_PARAM_SETUP_USER_ACCOUNT").val());
            $("#SETUP_USER_NAME").val($("#SEARCH_PARAM_SETUP_USER_NAME").val());

            aoData.push(
                { "name": "SETUP_USER_ACCOUNT", "value": $("#SETUP_USER_ACCOUNT").val() },
                { "name": "SETUP_USER_NAME", "value": $("#SETUP_USER_NAME").val() },
                { "name": "PASSWORD_LAST_UPDATE_DATE", "value": $("#PASSWORD_LAST_UPDATE_DATE").val() },
                { "name": "DISABLE_FLG", "value": $("#DISABLE_FLG").val() },
                { "name": "LOGIN_LOCK_FLG", "value": $("#LOGIN_LOCK_FLG").val() }
            );
        }

        function fnBeforeSend() {
            // Controller へ送信前にチェック
            return doServerSide;
        }

        function bindData(data) {
            dataList = data.aaData;
        }

        //項目固定
        function drawCallback() {
            if ($('#tbLeft').length > 0) {
                $('#InfoTable').unwrap();
                $('.col-left, .rBarOn, .bBarOn').remove();
            }

            var htmlTbLeft = '<table id="tbLeft" class="dataTable" cellspacing="0">'
                + ' <thead>'
                + ' <tr>'
                + ' <th>@Maint.lblNo</th>'
                + ' <th>@Maint.SetUpUser_Account</th>'
                + ' <th>@Maint.SetUpUser_Name</th>'
                + ' </tr>'
                + ' </thead>'
                + ' <tbody>';

            if (dataList !== null && dataList.length > 0) {
                for (var i = 0; i < dataList.length; i++) {
                    var classRow = i % 2 == 0 ? 'odd' : 'even';
                    var height = $($('#InfoTable tbody tr')[i]).outerHeight();

                    htmlTbLeft += ' <tr class="' + classRow + '" style="height: ' + height + 'px">'
                        + ' <td class="cell_center">' + iseiQ.utility.buildColumShortText(dataList[i][ORDER]) + '</td>'
                    htmlTbLeft += ' <td class="cell_left"> <div>' + iseiQ.utility.buildColumShortText(dataList[i][SETUP_USER_ACCOUNT], 'special-wrap') + '</div></td>';
                    htmlTbLeft += ' <td class="cell_left"> <div>' + iseiQ.utility.buildColumShortText(dataList[i][SETUP_USER_NAME], 'special-wrap') + '</div></td></tr>';
                    
                }
            }

            htmlTbLeft += '</tbody></table>';

            $("#InfoTable").wrap('<div class="col-right dragOn" style="width:40%"></div>').removeClass('no-footer');
            $('div.col-right').before('<div class="col-left" style="width:60%"> ' + htmlTbLeft + '</div>');
            $('#tbLeft thead tr').height($('#InfoTable thead').height());

            $("#tbLeft tbody tr").each(function (i) {
                if ($(this).height() != 40) {
                    $("#InfoTable tbody tr").eq(i).height($(this).height() + 1);
                    $(this).height($(this).height() + 1);     //jQueryでは高さの少数を取得できないため
                }
            });

            $('.dragOn').dragOn();
            $('.dragOn').barOn();

            var visibleCount = 1;
            $('#InfoTable thead tr th').eq(ORDER - visibleCount).hide();
            $('#InfoTable thead tr th').eq(SETUP_USER_ACCOUNT - visibleCount).hide();
            $('#InfoTable thead tr th').eq(SETUP_USER_NAME - visibleCount).hide();
            $('#InfoTable tbody tr').each(function (i) {
                if (dataList.length != 0) {
                    $('td', this).eq(ORDER - visibleCount).hide();
                    $('td', this).eq(SETUP_USER_ACCOUNT - visibleCount).hide();
                    $('td', this).eq(SETUP_USER_NAME - visibleCount).hide();
                }
            });
        }

        dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);

        //bindAuthorityGroupCd();
    });

    ////////////////////////////////////////////////////////////////////////////////////
    ////Event Listeners
    ////////////////////////////////////////////////////////////////////////////////////

    //新規作成ボタン処理
    $(document).off('#btnCreateNew');
    $(document).on('click', '#btnCreateNew', function () {
        var result = iseiQ.utility.getDataByAjax(checkTimeOutUrl, null);
        if (!result) return;

        RegistSubmit("0");
    });

    //検索ボタン処理
    $(document).off('#btnSearch');
    $(document).on('click', '#btnSearch', function () {
        var result = iseiQ.utility.getDataByAjax(checkTimeOutUrl, null);
        if (!result) return;

        searchSetUpUserMaint();
    });

    //クリアボタン処理
    $(document).off('#btnClearConditions');
    $(document).on('click', '#btnClearConditions', function () {
        var result = iseiQ.utility.getDataByAjax(checkTimeOutUrl, null);
        if (!result) return;

        $("#SETUP_USER_ACCOUNT").val("");
        $("#SETUP_USER_NAME").val("");
        $("#INCLUDE_DISABLE_HIDDEN").val("");
        $("#INCLUDE_DISABLE").prop('checked', false).change();
        $('#INCLUDE_DISABLE_HIDDEN').val('false');

        $('#InfoTable_info').empty();
        $('#InfoTable_paginate').empty();
        $('tbody').empty();

    });

    $(document).off('#INCLUDE_DISABLE');
    $(document).on('change', '#INCLUDE_DISABLE', function () {
        if ($('#INCLUDE_DISABLE').is(":checked")) {
            $('#INCLUDE_DISABLE_HIDDEN').val('true');
        } else {
            $('#INCLUDE_DISABLE_HIDDEN').val('false');
        }
    });

    $(document).off('.post-SetUpUserMaint-register');
    $(document).on('click', '.post-SetUpUserMaint-register', function () {
        RegistSubmit($(this).data('info-seq-no'));
    });

    function RegistSubmit(seqCd) {
        var oSettings = dataTable.fnSettings();

        $('#DISPLAY_START').val(oSettings._iDisplayStart);
        $('#DISPLAY_LENGTH').val(oSettings._iDisplayLength);
        $('#SEARCH_PARAM_SETUP_USER_SEQ_CD').val(seqCd);

        $('#SetUpUserMaintRegist').submit();
    }

    $(document).off('.delete-setUpUsermaint-link');
    $(document).on('click', '.delete-setUpUsermaint-link', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;
        var seq_no = parseInt($(this).data('est-seq-no'));

        if (seq_no < 1) return;

        // Get Project Dsp Name
        iseiQ.utility.showConfirmModal('@string.Format(@Maint.UserMaintDelete)', function (action) {
            if (action) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("DELETE")',
                    data: { "SEQNO": seq_no },
                    success: function (data) {
                        dataTable.fnStandingRedraw();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        iseiQ.utility.showMessageModal("@string.Format(Maint.MaintDeleteError)", true);
                    }
                });
            }
        });
    });


    //////////////////////////////////////////////////////////////////////////////////
    //Misc Functions
    //////////////////////////////////////////////////////////////////////////////////


    function validateData() {
        var invalidMess = [];
        var contractuseraccount = $('#SETUP_USER_ACCOUNT').val();
        var contractusername = $('#SETUP_USER_NAME').val();
        var invalidMess = [];
        //bigint型で入力した値が保障される範囲
        var bigintcheck = 999999999999999;　//15桁

        return invalidMess;
    }

    function searchSetUpUserMaint() {
        $('.validation-summary-errors').remove();
        var invalidMess = validateData();

        if (invalidMess.length > 0) {
            iseiQ.utility.showClientError(invalidMess);
            return false;
        }

        $("#SEARCH_PARAM_SETUP_USER_ACCOUNT").val($("#SETUP_USER_ACCOUNT").val());
        $("#SEARCH_PARAM_SETUP_USER_NAME").val($("#SETUP_USER_NAME").val());


        dataTable.fnPageChange('first');
    }

    function bindDeleteElement(id, className, label) {
        return '<a class="' + className + '" data-est-seq-no="' + id + '">' + label + '</a>';
    }

    function buildActionLink(infoSEQNo, label) {
        return '<a class="post-SetUpUserMaint-register" data-info-seq-no="' + infoSEQNo + '">' + label + '</a>';
    }

</script>