@using SystemSetup.Models;
@using SystemSetup.Constants;
@using SystemSetup.Constants.Security;
@using SystemSetup.Constants.Resources;
<!-- CSS -->
@Styles.Render("~/Content/themes/iseiQ/maint.css")
@model ProductMaintModel

@{
    ViewBag.Title = Maint.ProductMaintList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = HttpContext.Current.Session["CmnEntityModel"] as CmnEntityModel;
    var authorityList = currentUser.AuthorityList as List<string>;
}

<div id="maintInputDateList" class="ProductMaintList">
    <div id="topContent">
        <div id="title">@Maint.ProductMaintList</div>

        <div id="searchArea">
            <div class="form-group">
                <label class="title-row min-width-80">@Maint.COMPANY_CD<span class="RequiredField">*</span></label>
                @Html.DropDownListFor(m => m.COMPANY_CD, Model.CONTRACT_FIRM_LIST, "", new { @class = "ddlContractFirmMaster" })
            </div>
            <div class="form-group">
                @Html.Label(@Maint.lblCategory, new { @class = "title-row min-width-80" })
                @Html.DropDownListFor(m => m.CONTRACT_TYPE_EDIT, Model.CONTRACT_TYPE_LIST, "", new { @class = "ddlContractTypeMaster" })
                @Html.DropDownListFor(m => m.CONTRACT_TYPE_CLASS_EDIT, Model.CONTRACT_SUB_TYPE_LIST, "", new { @class = "ddlSubContractTypeMaster" })
                @Html.DropDownListFor(m => m.PRODUCT_SEQ_NO_EDIT, Model.PRODUCT_LIST, "", new { @class = "ddlProductMaster" })
            </div>
        </div>
        <hr />

        <div id="searchAction">
            <button type="button" id="btnClearConditions" class="btn btn-default">
                <i class="btn-icon btn-clear">@Maint.btnClearConditions</i>
            </button>
            <button type="button" id="btnSearch" class="btn btn-green">
                <i class="btn-icon btn-search-white">@Maint.btnSearch</i>
            </button>
        </div>
    </div>

    @RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

    <div id="registButton">
        <button type="button" id="btnCreateNew" name="btnCreateNew" class="btn btn-orange"><i class="btn-icon btn-regist">@Maint.btnCreateNew</i></button>
    </div>

    <div id="mainContent">
        <table id="InfoTable" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>@Maint.lblNo</th>
                    <th>@Maint.COMPANY_CD</th>
                    <th class="width-200">@Maint.CONTRACT_TYPE</th>
                    <th class="width-200">@Maint.CONTRACT_TYPE_CLASS</th>
                    <th class="width-200">@Maint.PRODUCT_NAME</th>
                    <th>@Maint.lblPriority</th>
                    <th>@Maint.lblUpdateTime</th>
                    <th>@Maint.lblUpdateUser</th>
                    <th>@Maint.EDIT</th>
                    <th>@Maint.DELETE</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @using (Html.BeginForm("ProductMaintEdit", "ProductMaint", FormMethod.Post, new
        {
            area = "Maint",
            id = "ProductMaintRegist",
            enctype = "multipart/form-data"

        }))
    {
        @Html.HiddenFor(m => m.REGIST_PARAM.COMPANY_CD)
        @Html.HiddenFor(m => m.REGIST_PARAM.PRODUCT_NAME)
        @Html.HiddenFor(m => m.REGIST_PARAM.PRODUCT_SEQ_NO)
        @Html.HiddenFor(m => m.SEARCH_COMPANY_CD)
        @Html.HiddenFor(m => m.SEARCH_CONTRACT_TYPE_EDIT)
        @Html.HiddenFor(m => m.SEARCH_CONTRACT_TYPE_CLASS_EDIT)
        @Html.HiddenFor(m => m.SEARCH_PRODUCT_NAME_EDIT)
        @Html.HiddenFor(m => m.SEARCH_PRODUCT_SEQ_NO_EDIT)
        @Html.HiddenFor(m => m.SEARCH_START)
        @Html.HiddenFor(m => m.SEARCH_LENGTH)
    }
</div>





<script type="text/javascript">
    ////////////////////////////////////////////////////////////////////////////////////
    ////Variables Declaration
    ////////////////////////////////////////////////////////////////////////////////////
    var dataTable;
    var productMaintSearchUrl = '@Url.Action("ProductMaintSearch", "ProductMaint", new { area = "Maint" })';
    var custMaintRegisterUrl = '@Url.Action("CustMaintEdit", "ProductMaint", new { area = "Maint" })';
    var checkTimeOutUrl = '@Url.Action("CheckTimeOut", "Common", new {area = "Common"})';
    editlink = "編集";
    var deletelink = "削除";
    var PRODUCT_SEQ_NO = 0;
    var ORDER = 1;
    var COMPANY_CD = 2;
    var CONTRACT_TYPE = 3;
    var CONTRACT_TYPE_CLASS = 4;
    var PRODUCT_NAME = 5;
    var DSP_PRIORITY = 6;
    var UPD_DATE = 7;
    var UPD_USERNAME = 8;
    var EDIT = 9;
    var DELETE = 10;
    var doServerSide = false;

    var dataTable = null;
    var dataList = null;

    ////////////////////////////////////////////////////////////////////////////////////
    ////Initialization functions
    ////////////////////////////////////////////////////////////////////////////////////
    $(function () {
        iseiQ.utility.bindContractTypeExtend();
        iseiQ.utility.bindSubContractTypeByOutsideExtend();

        var oSorting = {
            "bSort": false
        };

        var oPaginate = {
            "bPaginate": true,
            "iDisplayStart": parseInt(@Model.SEARCH_START),
            "iDisplayLength": parseInt(@Model.SEARCH_LENGTH),
            "bStateSave": false
        };

        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": productMaintSearchUrl,
            "fnServerParams": serverParams,
            "fnBeforeSend": fnBeforeSend,
            "fnInitComplete": bindData,
            "fnDrawCallback": drawCallback
        };

        var aoColumnDefs = [
            { "bVisible": false, "aTargets": [PRODUCT_SEQ_NO], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [ORDER], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [COMPANY_CD], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [CONTRACT_TYPE], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [CONTRACT_TYPE_CLASS], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [PRODUCT_NAME], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [DSP_PRIORITY], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [UPD_DATE], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [UPD_USERNAME], "sWidth": "10%", "sClass": "cell_left" },
            { "bSortable": false, "aTargets": [EDIT], "sWidth": "5%", "sClass": "cell_center", "mRender": function (data, type, full) { return buildActionLink(full[PRODUCT_SEQ_NO], 'post-productmaint-register', editlink); } },
            { "bSortable": false, "aTargets": [DELETE], "sWidth": "5%", "sClass": "cell_center", "mRender": function (data, type, full) { return data == 0 ? '' : buildActionLink(full[PRODUCT_SEQ_NO], 'delete-productmaint-link btn btn-red', deletelink); } }
        ];

        function fnBeforeSend() {
            // Controller へ送信前にチェック
            return doServerSide;

        }

        function serverParams(aoData) {
            //検索条件を保持

            if ($("#COMPANY_CD").val() != "") {
                doServerSide = true;
            }
            aoData.push(
                { "name": "COMPANY_CD", "value": $("#COMPANY_CD").val() },
                { "name": "CONTRACT_TYPE_EDIT", "value": $("#CONTRACT_TYPE_EDIT").val() },
                { "name": "CONTRACT_TYPE_CLASS_EDIT", "value": $("#CONTRACT_TYPE_CLASS_EDIT").val() },
                { "name": "PRODUCT_SEQ_NO_EDIT", "value": $("#PRODUCT_SEQ_NO_EDIT").val() },
                { "name": "PRODUCT_NAME", "value": $("#PRODUCT_NAME").val() }
            );
        }

        function bindData(data) {
            dataList = data.aaData;
        }



        function drawCallback() {
            if ($('#tbLeft').length > 0) {
                $('#InfoTable').unwrap();
                $('.col-left2, .rBarOn, .bBarOn').remove();
            }

            var htmlTbLeft = '<table id="tbLeft" class="dataTable" cellspacing="0">'
                + ' <thead>'
                + ' <tr>'
                + ' <th class="width-50">@Maint.lblNo</th>'
                + ' <th class="width-80">@Maint.COMPANY_CD</th>'
                + ' <th>@Maint.CONTRACT_TYPE</th>'
                + ' <th>@Maint.CONTRACT_TYPE_CLASS</th>'
                + ' <th>@Maint.PRODUCT_NAME</th>'
                + ' </tr>'
                + ' </thead>'
                + ' <tbody>';

            if (dataList !== null && dataList.length > 0) {
                for (var i = 0; i < dataList.length; i++) {
                    var classRow = i % 2 == 0 ? 'odd' : 'even';
                    var height = $($('#InfoTable tbody tr')[i]).outerHeight();

                    htmlTbLeft += ' <tr class="' + classRow + '" style="height: ' + height + 'px">'
                               + '   <td class="cell_center">' + iseiQ.utility.buildColumShortText(dataList[i][1]) + '</td>'
                               + '   <td class="cell_center">' + iseiQ.utility.buildColumShortText(dataList[i][2]) + '</td>'
                               + '   <td class="cell_center"> <div>' + iseiQ.utility.buildColumShortText(dataList[i][3], 'special-wrap') + '</div></td>'
                               + '   <td class="cell_center"> <div>' + iseiQ.utility.buildColumShortText(dataList[i][4], 'special-wrap') + '</div></td>'
                               + '   <td class="cell_center"> <div>' + iseiQ.utility.buildColumShortText(dataList[i][5], 'special-wrap') + '</div></td>'
                               + ' </tr>';
                }
            }

            htmlTbLeft += '</tbody></table>';

            $("#InfoTable").wrap('<div class="col-right2 dragOn"></div>').removeClass('no-footer');
            $('div.col-right2').before('<div class="col-left2"> ' + htmlTbLeft + '</div>');
            $('#tbLeft thead tr').height($('#InfoTable thead').height());

            $("#tbLeft tbody tr").each(function (i) {
                if ($(this).height() != $("#InfoTable tbody tr").eq(i).height()) {
                    var height = $(this).height() > $("#InfoTable tbody tr").eq(i).height() ? $(this).height() : $("#InfoTable tbody tr").eq(i).height();
                    height++    //jQueryでは高さの少数を取得できないため
                    $("#InfoTable tbody tr").eq(i).height(height);
                    $(this).height(height);
                }
            });

            $('.dragOn').dragOn();
            $('.dragOn').barOn();


            var visibleCount = 1;
            $('#InfoTable thead tr th').eq(ORDER - visibleCount).hide();
            $('#InfoTable thead tr th').eq(COMPANY_CD - visibleCount).hide();
            $('#InfoTable thead tr th').eq(CONTRACT_TYPE - visibleCount).hide();
            $('#InfoTable thead tr th').eq(CONTRACT_TYPE_CLASS - visibleCount).hide();
            $('#InfoTable thead tr th').eq(PRODUCT_NAME - visibleCount).hide();
            $('#InfoTable tbody tr').each(function (i) {
                if (dataList.length != 0) {
                    $('td', this).eq(ORDER - visibleCount).hide();
                    $('td', this).eq(COMPANY_CD - visibleCount).hide();
                    $('td', this).eq(CONTRACT_TYPE - visibleCount).hide();
                    $('td', this).eq(CONTRACT_TYPE_CLASS - visibleCount).hide();
                    $('td', this).eq(PRODUCT_NAME - visibleCount).hide();
                }
            });
        }

        dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);
    });



    ////////////////////////////////////////////////////////////////////////////////////
    ////Event Listeners
    ////////////////////////////////////////////////////////////////////////////////////
    $("#COMPANY_CD").change(function () {
        // check time out
        var sUrl = '@Url.Action("CheckTimeOut", "Common", new {area = "Common"})';
        var result = iseiQ.utility.getDataByAjax(sUrl, null);

        if (!result)
            return;

        $('#CONTRACT_TYPE_EDIT').val('');
        iseiQ.utility.bindContractTypeExtend();
    });

    $("#CONTRACT_TYPE_EDIT").change(function () {
        // check time out
        var sUrl = '@Url.Action("CheckTimeOut", "Common", new {area = "Common"})';
        var result = iseiQ.utility.getDataByAjax(sUrl, null);

        if (!result)
            return;

        $('#CONTRACT_TYPE_CLASS_EDIT').val('');
        iseiQ.utility.bindSubContractTypeByOutsideExtend();
    });

    $("#CONTRACT_TYPE_CLASS_EDIT").change(function () {
        // check time out
        var sUrl = '@Url.Action("CheckTimeOut", "Common", new {area = "Common"})';
        var result = iseiQ.utility.getDataByAjax(sUrl, null);

        if (!result)
            return;

        $('#PRODUCT_SEQ_NO_EDIT').val('');
        iseiQ.utility.bindProductExtendByOutside();
    });

    $(document).off('#btnCreateNew');
    $(document).on('click', '#btnCreateNew', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;

        if ($("#SEARCH_COMPANY_CD").val() == "") {
            iseiQ.utility.showMessageModal('@string.Format(@Messages.Required, "企業コード")', false)
            return false;
        }
        $("#SEARCH_COMPANY_CD").val($("#COMPANY_CD").val());
        $("#SEARCH_CONTRACT_TYPE_EDIT").val($("#CONTRACT_TYPE_EDIT").val());
        $("#SEARCH_CONTRACT_TYPE_CLASS_EDIT").val($("#CONTRACT_TYPE_CLASS_EDIT").val());
        $("#SEARCH_PRODUCT_SEQ_NO_EDIT").val($("#PRODUCT_SEQ_NO_EDIT").val());
        RegistSubmit(0);
    });

    $(document).off('#btnSearch');
    $(document).on('click', '#btnSearch', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;

        searchProductMaint();
    });

    $(document).off('#btnClearConditions');
    $(document).on('click', '#btnClearConditions', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;

        $('#COMPANY_CD').val('');
        $('#CONTRACT_TYPE_EDIT').val('');
        $('#CONTRACT_TYPE_CLASS_EDIT').val('');
        $("#PRODUCT_SEQ_NO_EDIT").val('');
        iseiQ.utility.bindContractTypeExtend();
        iseiQ.utility.bindSubContractTypeByOutsideExtend();

        $('#InfoTable_info').empty();
        $('#InfoTable_paginate').empty();
        $('tbody').empty();
    });

    $(document).off('.post-productmaint-register');
    $(document).on('click', '.post-productmaint-register', function () {
        RegistSubmit($(this).data('product-seq-no'));

    });

    function RegistSubmit(productSeqNo) {
        var oSettings = dataTable.fnSettings();

        $('#SEARCH_START').val(oSettings._iDisplayStart);
        $('#SEARCH_LENGTH').val(oSettings._iDisplayLength);

        $('#REGIST_PARAM_COMPANY_CD').val($("#SEARCH_COMPANY_CD").val());
        $('#REGIST_PARAM_PRODUCT_SEQ_NO').val(productSeqNo);
        $('#ProductMaintRegist').submit();
    }

    $(document).off('.delete-productmaint-link');
    $(document).on('click', '.delete-productmaint-link', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;

        var productSeqNo = $(this).data('product-seq-no');

        // Get Project Dsp Name
        iseiQ.utility.showConfirmModal('@string.Format(@Maint.ProductMaintDelete)', function (action) {
            if (action) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("DELETE")',
                    data: { "PRODUCT_SEQ_NO": productSeqNo },
                    success: function (data) {
                        dataTable.fnStandingRedraw();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        iseiQ.utility.showMessageModal("@string.Format(Maint.MaintDeleteError)", true);
                    }
                });
            }
        });
    });


    ////////////////////////////////////////////////////////////////////////////////////
    ////Misc Functions
    ////////////////////////////////////////////////////////////////////////////////////
    function validateData() {
        var invalidMess = [];
        return invalidMess;
    }

    function searchProductMaint() {
        $('.validation-summary-errors').remove();
        var invalidMess = validateData();

        if (invalidMess.length > 0) {
            iseiQ.utility.showClientError(invalidMess);
            return false;
        }

        if ($("#COMPANY_CD").val() == "") {
            iseiQ.utility.showMessageModal('@string.Format(@Messages.Required, "企業コード")', false)
            return false;
        }

        doServerSide = true;

        $("#SEARCH_COMPANY_CD").val($("#COMPANY_CD").val());
        $("#SEARCH_CONTRACT_TYPE_EDIT").val($("#CONTRACT_TYPE_EDIT").val());
        $("#SEARCH_CONTRACT_TYPE_CLASS_EDIT").val($("#CONTRACT_TYPE_CLASS_EDIT").val());
        $("#SEARCH_PRODUCT_SEQ_NO_EDIT").val($("#PRODUCT_SEQ_NO_EDIT").val());

        dataTable.fnPageChange('first');
    }

    function buildActionLink(infoSeqNo, className, label) {
        return '<a class="' + className + '" data-product-seq-no="' + infoSeqNo + '" >' + label + '</a>';
    }

</script>