@using SystemSetup.Models;
@using SystemSetup.Constants;
@using SystemSetup.Constants.Security;
@using SystemSetup.Constants.Resources;

@model PostInformationListModel

@{
    ViewBag.Title = Information.lblPostInformationList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = HttpContext.Current.Session["CmnEntityModel"] as CmnEntityModel;
    var authorityList = currentUser.AuthorityList as List<string>;
}

<div id="postInformationList">
    <div id="topContent">
        <div id="title">@Information.lblPostInformationList</div>

        <div id="searchArea">
            <div class="form-group">
                @Html.Label(@Information.CONTENT, new { @class = "margin-right-5" })
                @Html.TextBoxFor(m => m.CONTENT, new { @class = "width-200", style = "ime-mode: auto;" })

                @Html.Label(@Information.lblDuration, new { @class = "margin-left-40 margin-right-5" })
                <span class="date datepicker-days">
                    @Html.TextBoxFor(m => m.START_DATE, "{0:yyyy/MM/dd}", new { @class = "ime-mode", maxlength = 10 })
                    <button type="button" class="btn btn-default btn-add-on"><i class="btn-icon btn-calendar"></i></button>
                </span>
                <span class="date-range-space">～</span>
                <span class="date datepicker-days">
                    @Html.TextBoxFor(m => m.END_DATE, "{0:yyyy/MM/dd}", new { @class = "ime-mode", maxlength = 10 })
                    <button type="button" class="btn btn-default btn-add-on"><i class="btn-icon btn-calendar"></i></button>
                </span>

                <span class="margin-left-40">
                    @{string includeDeleted = Model.INCLUDE_DELETED ? "checked" : "";}

                    <input id="INCLUDE_DELETED" type="checkbox" value="false" class="margin-right-5" @includeDeleted>
                    <input id="INCLUDE_DELETED_HIDDEN" type="hidden" value="false">
                    @Html.Label(@Information.lblIncludeDeleted, new { @for = "INCLUDE_DELETED" })
                </span>
            </div>
        </div>

        <hr />

        <div id="searchAction">
            <button type="button" id="btnClearConditions" class="btn btn-default">
                <i class="btn-icon btn-clear">@Information.btnClearConditions</i>
            </button>
            <button type="button" id="btnSearch" class="btn btn-green">
                <i class="btn-icon btn-search-white">@Information.btnSearch</i>
            </button>
        </div>
    </div>

    @RenderPage("~/Views/Shared/ShowHideHeaderContent.cshtml")

    @if (authorityList.Contains(PermisionType.POST_INFORMATION_EDIT))
    {
        <div id="registButton">
            <button type="button" id="btnCreateNew" name="btnCreateNew" class="btn btn-orange"><i class="btn-icon btn-regist"></i>@Information.btnCreateNew</button>
        </div>
    }
    

    <div id="mainContent">
        <table id="InfoTable" class="dataTable auto-scroll-x" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>@Information.lblNo</th>
                    <th class="width-200">@Information.CONTENT</th>
                    <th>@Information.PUBLISH_DATE_START</th>
                    <th>@Information.PUBLISH_DATE_END</th>
                    <th>@Information.lblPriority</th>
                    <th>@Information.lblUpdateTime</th>
                    <th>@Information.lblUpdateUser</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @using (Html.BeginForm("PostInformationEdit", "Information", FormMethod.Post, new
    {
        id = "formPostInfoRegist",
        enctype = "multipart/form-data"
    }))
    {
        <input type="hidden" id="hdnInfoSEQNo" name="INFO_SEQ_NO" value="" />
    }
</div>

<script type="text/javascript">
    ////////////////////////////////////////////////////////////////////////////////////
    ////Variables Declaration
    ////////////////////////////////////////////////////////////////////////////////////
    var dataTable = null;
    var postInformationSearchUrl = '@Url.Action("PostInformationList", "Information", new { area = "Information" })';
    var postInformationRegisterUrl = '@Url.Action("PostInformationEdit", "Information", new { area = "Information" })';
    var checkTimeOutUrl = '@Url.Action("CheckTimeOut", "Common", new {area = "Common"})';
    var INFO_SEQ_NO = 0;
    var ORDER = 1;
    var CONTENT = 2;
    var PUBLISH_DATE_START = 3;
    var PUBLISH_DATE_END = 4;
    var DSP_PRIORITY = 5;
    var UPD_DATE = 6;
    var UPD_USERNAME = 7;

    ////////////////////////////////////////////////////////////////////////////////////
    ////Initialization functions
    ////////////////////////////////////////////////////////////////////////////////////
    $(function () {
        iseiQ.utility.imeControl($("#CONTENT"), 'active');
        iseiQ.utility.imeControl($("#START_DATE"), 'active');
        iseiQ.utility.imeControl($("#END_DATE"), 'active');
        var isAllowEdit = "@authorityList.Contains(PermisionType.POST_INFORMATION_EDIT)" == 'True' ? true : false;

        var oSorting = {
            "bSort": false
        };

        var oPaginate = {
            "bPaginate": true,
            "iDisplayLength": parseInt(@App[ConfigurationKeys.LIST_ITEMS_PER_PAGE]),
            "bStateSave": false
        };

        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": postInformationSearchUrl,
            "fnServerParams": serverParams,
            "fnInitComplete": function () { },
            "fnDrawCallback": function () { }
        };

        var aoColumnDefs = [
            { "bVisible": false, "bSortable": false, "aTargets": [INFO_SEQ_NO] },
            { "bSortable": false, "aTargets": [ORDER], "sWidth": "10%", "sClass": "cell_center" },
            {
                "bSortable": false, "aTargets": [CONTENT], "sClass": "cell_center max-width-200 text-overflow",
                "mRender": function (data, type, full) { return buildActionLink(full[INFO_SEQ_NO], full[CONTENT]); }
            },
            { "bSortable": false, "aTargets": [PUBLISH_DATE_START], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [PUBLISH_DATE_END], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [DSP_PRIORITY], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [UPD_DATE], "sWidth": "10%", "sClass": "cell_center" },
            { "bSortable": false, "aTargets": [UPD_USERNAME], "sWidth": "10%", "sClass": "cell_left" },
        ];

        function serverParams(aoData) {
            aoData.push(
                { "name": "CONTENT", "value": $("#CONTENT").val() },
                { "name": "START_DATE", "value": $("#START_DATE").val() },
                { "name": "END_DATE", "value": $("#END_DATE").val() },
                { "name": "INCLUDE_DELETED", "value": $("#INCLUDE_DELETED").prop('checked') }
            );
        }

        function buildActionLink(infoSEQNo, content) {
            var html = '';
            if (isAllowEdit == true) {
                html += '<a class="post-information-register" data-info-seq-no="' + infoSEQNo + '">' + content + '</a>';
            }
            else {
                html += iseiQ.utility.buildColumShortText(content, 'special-wrap');
            }

            return html;            
        }

        dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);
    });

    ////////////////////////////////////////////////////////////////////////////////////
    ////Event Listeners
    ////////////////////////////////////////////////////////////////////////////////////
    $(document).off('#START_DATE, #END_DATE');
    $(document).on('change', '#START_DATE, #END_DATE', function () {
        $(this).val(iseiQ.utility.autoCompleteYearMonthDay($(this).val()));
        if ("" !== $(this).val()) {
            $(this).parents(".datepicker-days").datepicker('update');
        }
    });

    $(document).off('#btnCreateNew');
    $(document).on('click', '#btnCreateNew', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;
        window.location.href = postInformationRegisterUrl;
    });

    $(document).off('#btnSearch');
    $(document).on('click', '#btnSearch', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;
        searchPostInformation();
    });

    $(document).off('#btnClearConditions');
    $(document).on('click', '#btnClearConditions', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;

        $("#CONTENT").val("");
        $("#START_DATE").val("");
        $("#END_DATE").val("");
        $("#INCLUDE_DELETED").prop('checked', false).change();

        searchPostInformation();
    });

    $(document).off('.post-information-register');
    $(document).on('click', '.post-information-register', function () {
        if (!iseiQ.utility.getDataByAjax(checkTimeOutUrl, null)) return;
        $('#hdnInfoSEQNo').val($(this).data('info-seq-no'));
        $('#formPostInfoRegist').submit();
    });

    ////////////////////////////////////////////////////////////////////////////////////
    ////Misc Functions
    ////////////////////////////////////////////////////////////////////////////////////
    function validateData() {
        var invalidMess = [];
        var startDate = $('#START_DATE').val();
        var endDate = $('#END_DATE').val();
        var errStartDate = iseiQ.utility.validDate(startDate, 'yyyy/mm/dd', '@Information.PUBLISH_DATE_START');
        var errEndDate = iseiQ.utility.validDate(endDate, 'yyyy/mm/dd', '@Information.PUBLISH_DATE_END');
        var invalidMess = [];

        if (errStartDate != null) {
            invalidMess.push(errStartDate);
        }

        if (errEndDate != null) {
            invalidMess.push(errEndDate);
        }

        if (errStartDate == null && errEndDate == null && startDate.length > 0 && endDate.length > 0) {
            if (!iseiQ.utility.compareDate(startDate, endDate, 'yyyy/mm/dd')) {
                invalidMess.push(['@string.Format(Messages.EndDateLessStartDateWarning)']);
            }
        }

        return invalidMess;
    }

    function searchPostInformation() {
        $('.validation-summary-errors').remove();
        var invalidMess = validateData();

        if (invalidMess.length > 0) {
            iseiQ.utility.showClientError(invalidMess);
            return false;
        }

        dataTable.fnPageChange('first');
    }
</script>